# Data set
The source of this data is: [Kaggle](https://www.kaggle.com/rounakbanik/the-movies-dataset)

In [20]:
"""Load all nessecery data."""

import pandas as pd

## The main movies file.
This is a file with 45 000 movies feautured in the Full MovieLens dataset. 
Features include title, budget, generes, overview, tagline, vote_avarage and vote_count

In [5]:
metadata = pd.read_csv("data/movies_metadata.csv", low_memory=False)
metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [6]:
metadata.shape

(45466, 24)

## Cast and Crew.
This file include information about cast and crew for all movies. The form of a stringified JSON Object.

In [7]:
credits = pd.read_csv("data/credits.csv", low_memory=False)
credits.head(3)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602

In [9]:
credits.shape

(45476, 3)

## Keywords.
This file include keywords for all movies. The form of a stringified JSON Object.

In [10]:
keywords = pd.read_csv("data/keywords.csv", low_memory=False)
keywords.head(3)

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...

In [11]:
keywords.shape

(46419, 2)

## Small ratings.
This file include rating for a part of movies. "The subset of 100,000 ratings from 700 users on 9,000 movies."

In [12]:
ratings_small = pd.read_csv("data/ratings_small.csv", low_memory=False)
ratings_small.head(3)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182

In [13]:
ratings_small.shape

(100004, 4)

## Ratings.
This file include ratings for all movies from MovieLens

In [14]:
ratings = pd.read_csv("data/ratings.csv", low_memory=False)
ratings.head(3)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523

In [15]:
ratings.shape

(26024289, 4)

## ID.
"The file that contains the TMDB and IMDB IDs of all the movies featured in the Full MovieLens dataset."

In [16]:
links = pd.read_csv("data/links.csv", low_memory=False)
links.head(3)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0

In [17]:
links.shape

(45843, 3)

## Small ID.
"Contains the TMDB and IMDB IDs of a small subset of 9,000 movies of the Full Dataset."

In [18]:
links_small = pd.read_csv("data/links_small.csv", low_memory=False)
links_small.head(3)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0

In [19]:
links_small.shape

(9125, 3)